# Pandas With WINDOWS STORE DATASET

** LINK For DATA SET :  https://github.com/sunilkumar9740/CSV_DATASET **

In [114]:
import pandas as pd
df=pd.read_csv('msft.csv') #read the csv file
df.head() #display the table

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free

In [4]:
df.head(10) #display the first 10 rows

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
5,Gurbani Reader,4.5,399,Books,18-01-2017,Free
6,NFO Viewer,4.5,566,Books,13-11-2012,Free
7,Text to Speech TTS,3.0,175,Books,17-10-2013,Free
8,ACK Comics,4.0,460,Books,20-12-2012,Free
9,Learn Biology and Human Body Anatomy by GoLear...,3.5,363,Books,25-11-2013,Free

In [5]:
print(df.columns) # diplay the columns details  in the table

Index(['Name', 'Rating', 'No of people Rated', 'Category', 'Date', 'Price'], dtype='object')

In [6]:
print(df.columns[2]) #display the particular columns in the table using index method

No of people Rated

In [11]:
print(df.iloc[2]) #display the particular row details in the table (particular person detials )

Name                  BookViewer
Rating                       3.5
No of people Rated           593
Category                   Books
Date                  29-02-2016
Price                       Free
Name: 2, dtype: object

In [12]:
print(df.iloc[2,4]) #Display the particular rows with particular columns details 'Specific locotion'

29-02-2016

In [14]:
print(df.iloc[5:7]) # display the 5th to 7th rows details

             Name  Rating  No of people Rated Category        Date Price
5  Gurbani Reader     4.5                 399    Books  18-01-2017  Free
6      NFO Viewer     4.5                 566    Books  13-11-2012  Free

In [16]:
print(df['Name']) #Display the 'name'columns of the all rows details 'Single column'

0                                          Dynamic Reader
1       Chemistry, Organic Chemistry and Biochemistry-...
2                                              BookViewer
3                                      Brick Instructions
4       Introduction to Python Programming by GoLearni...
                              ...
5317                                              JS King
5318                                          MQTTSniffer
5319                        Dev Utils - JSON, CSV and XML
5320                                          Simply Text
5321                                                  NaN
Name: Name, Length: 5322, dtype: object

In [20]:
print(df[['Name','Rating']]) #display the name and ratings columsns rows details 'Multiple columns'

                                                   Name  Rating
0                                        Dynamic Reader     3.5
1     Chemistry, Organic Chemistry and Biochemistry-...     3.0
2                                            BookViewer     3.5
3                                    Brick Instructions     3.5
4     Introduction to Python Programming by GoLearni...     2.0
...                                                 ...     ...
5317                                            JS King     1.0
5318                                        MQTTSniffer     2.5
5319                      Dev Utils - JSON, CSV and XML     4.0
5320                                        Simply Text     4.0
5321                                                NaN     NaN

[5322 rows x 2 columns]

In [21]:
df.describe() #It will show the means and counts etc details

            Rating  No of people Rated
count  5321.000000         5322.000000
mean      3.792708          551.873168
std       0.991681          259.820088
min       1.000000          100.000000
25%       3.500000          327.000000
50%       4.000000          548.000000
75%       4.500000          779.000000
max       5.000000         1000.000000

In [22]:
df.sort_values('Name') # sort by name

,Name,Rating,No of people Rated,Category,Date,Price
5020,#1 Weather,3.5,681,News and Weather,03-06-2016,Free
2037,#BABYLON'13,3.5,966,Social,02-03-2015,Free
1299,#Code,4.0,855,Developer Tools,28-06-2016,Free
1604,#UWP,4.0,537,Developer Tools,24-11-2016,Free
3079,#Yatzy,4.0,302,Kids and Family,09-01-2018,Free
...,...,...,...,...,...,...
426,道学经典(有声),5.0,813,Books,10-03-2020,Free
4952,降水にゃうきゃすと,4.5,543,News and Weather,07-03-2012,Free
409,鲁迅全集(有声),5.0,594,Books,11-03-2020,Free
3747,라디오와 멀티미디어(Radio and Multimedia),3.5,919,Multimedia Design,12-03-2018,Free
5321,NaN,NaN,948,NaN,NaN,NaN

In [23]:
df.sort_values(['Name','Rating']) #Sort by multiple columns

,Name,Rating,No of people Rated,Category,Date,Price
5020,#1 Weather,3.5,681,News and Weather,03-06-2016,Free
2037,#BABYLON'13,3.5,966,Social,02-03-2015,Free
1299,#Code,4.0,855,Developer Tools,28-06-2016,Free
1604,#UWP,4.0,537,Developer Tools,24-11-2016,Free
3079,#Yatzy,4.0,302,Kids and Family,09-01-2018,Free
...,...,...,...,...,...,...
426,道学经典(有声),5.0,813,Books,10-03-2020,Free
4952,降水にゃうきゃすと,4.5,543,News and Weather,07-03-2012,Free
409,鲁迅全集(有声),5.0,594,Books,11-03-2020,Free
3747,라디오와 멀티미디어(Radio and Multimedia),3.5,919,Multimedia Design,12-03-2018,Free
5321,NaN,NaN,948,NaN,NaN,NaN

In [24]:
df.sort_values(['Name','Rating'],ascending= False) #diplay the Name and Rating with sorting Muliple columns

,Name,Rating,No of people Rated,Category,Date,Price
3747,라디오와 멀티미디어(Radio and Multimedia),3.5,919,Multimedia Design,12-03-2018,Free
409,鲁迅全集(有声),5.0,594,Books,11-03-2020,Free
4952,降水にゃうきゃすと,4.5,543,News and Weather,07-03-2012,Free
426,道学经典(有声),5.0,813,Books,10-03-2020,Free
383,追书悦读,3.5,864,Books,20-01-2016,Free
...,...,...,...,...,...,...
1604,#UWP,4.0,537,Developer Tools,24-11-2016,Free
1299,#Code,4.0,855,Developer Tools,28-06-2016,Free
2037,#BABYLON'13,3.5,966,Social,02-03-2015,Free
5020,#1 Weather,3.5,681,News and Weather,03-06-2016,Free
5321,NaN,NaN,948,NaN,NaN,NaN

In [27]:
df.sort_values('Rating',ascending= False) #Sort the rows by its  highest rating order

,Name,Rating,No of people Rated,Category,Date,Price
2660,Inner Kung Fu Game,5.0,520,Health and Fitness,18-04-2016,Free
1472,Windows Package Manager YAML Generator,5.0,970,Developer Tools,19-05-2020,Free
3766,Color Factory,5.0,110,Multimedia Design,02-05-2017,Free
3767,Pick App,5.0,540,Multimedia Design,28-09-2018,Free
1417,Brainf*ck# (Preview),5.0,807,Developer Tools,24-10-2017,Free
...,...,...,...,...,...,...
5177,eBooks for Kindle,1.0,450,Books,06-05-2020,₹ 269.00
5178,"eBook Reader (ePub, Mobi and PDF books)",1.0,824,Books,25-05-2020,₹ 269.00
2943,Kids & Games,1.0,694,Kids and Family,27-05-2016,Free
3071,"Falar, Ler e Escrever",1.0,747,Kids and Family,12-10-2017,Free
5321,NaN,NaN,948,NaN,NaN,NaN

In [40]:
df.head(5)

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free

In [54]:
df[df['Rating']>3] # Diplay the rating who got more then 3

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
5,Gurbani Reader,4.5,399,Books,18-01-2017,Free
6,NFO Viewer,4.5,566,Books,13-11-2012,Free
...,...,...,...,...,...,...
5312,Assets Resizer for Windows Store,3.5,566,Developer Tools,22-09-2015,₹ 54.00
5313,WWWmaster,3.5,150,Developer Tools,12-01-2018,₹ 489.00
5314,HexToolkit,3.5,214,Developer Tools,25-09-2017,₹ 54.00
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,18-11-2019,₹ 269.00
5320,Simply Text,4.0,386,Developer Tools,23-01-2014,₹ 219.00

In [55]:
df.sort_values('No of people Rated') #sorting

,Name,Rating,No of people Rated,Category,Date,Price
3188,Shot Notes,4.5,100,Lifestyle,04-09-2017,Free
140,Deaf Bible,5.0,100,Books,04-08-2016,Free
1264,TPi,5.0,100,Business,03-02-2017,Free
1295,Python 3.9 (Beta),5.0,100,Developer Tools,19-11-2019,Free
3190,Survey for money: earn money paid surveys guide,4.5,100,Lifestyle,21-11-2018,Free
...,...,...,...,...,...,...
1883,ILN,5.0,999,Social,05-12-2019,Free
560,CDBS Facility Query,3.0,1000,Books,06-12-2016,Free
1929,Psychic Reader Paranormal,3.5,1000,Social,02-10-2014,Free
3260,Daily Panchang,3.5,1000,Lifestyle,20-01-2016,Free
3940,Guitar Lessons Beginners #1,3.5,1000,Music,06-01-2013,Free

In [49]:
df[df['No of people Rated'] >= 500] #Display the rows how got rated more then 500

,Name,Rating,No of people Rated,Category,Date,Price
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
6,NFO Viewer,4.5,566,Books,13-11-2012,Free
...,...,...,...,...,...,...
5316,Get Color,3.0,785,Developer Tools,08-08-2019,₹ 54.50
5317,JS King,1.0,720,Developer Tools,19-07-2018,₹ 269.00
5318,MQTTSniffer,2.5,500,Developer Tools,10-04-2017,₹ 64.00
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,18-11-2019,₹ 269.00
5321,NaN,NaN,948,NaN,NaN,NaN

In [52]:
df[df['No of people Rated'] >= 500] |

,Name,Rating,No of people Rated,Category,Date,Price
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
6,NFO Viewer,4.5,566,Books,13-11-2012,Free
...,...,...,...,...,...,...
5315,Visual Studio Image Scaler,1.0,756,Developer Tools,15-05-2017,₹ 54.00
5316,Get Color,3.0,785,Developer Tools,08-08-2019,₹ 54.50
5317,JS King,1.0,720,Developer Tools,19-07-2018,₹ 269.00
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,18-11-2019,₹ 269.00
5321,NaN,NaN,948,NaN,NaN,NaN

In [57]:
df[df['Price']=='Free'] #sort the name who got free price

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
...,...,...,...,...,...,...
5158,Kad će Kiša,5.0,517,News and Weather,23-10-2017,Free
5159,Newseen,4.5,948,News and Weather,19-05-2013,Free
5160,Newser,3.5,502,News and Weather,06-06-2013,Free
5161,Recent Earthquakes,3.0,419,News and Weather,14-11-2012,Free
5162,Console news,5.0,655,News and Weather,10-10-2014,Free

In [58]:
df[df['Category'] == 'Books']

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
...,...,...,...,...,...,...
5214,The King James Bible,1.5,642,Books,22-05-2015,₹ 109.00
5215,EZ Genealogy,3.0,937,Books,20-05-2020,₹ 109.00
5216,Concise Oxford Spanish Dictionary,2.5,302,Books,19-03-2015,₹ 549.00
5217,La Bible en Français par Louis Segond (French ...,1.5,141,Books,24-09-2015,₹ 269.00
5218,Disney Infinity Collection Tracker,4.0,885,Books,17-10-2016,₹ 54.00

In [67]:
df[df['Category'] == 'Books']

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
...,...,...,...,...,...,...
5214,The King James Bible,1.5,642,Books,22-05-2015,₹ 109.00
5215,EZ Genealogy,3.0,937,Books,20-05-2020,₹ 109.00
5216,Concise Oxford Spanish Dictionary,2.5,302,Books,19-03-2015,₹ 549.00
5217,La Bible en Français par Louis Segond (French ...,1.5,141,Books,24-09-2015,₹ 269.00
5218,Disney Infinity Collection Tracker,4.0,885,Books,17-10-2016,₹ 54.00

In [80]:
df.loc[df['Category'] == 'Books']

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
...,...,...,...,...,...,...
5214,The King James Bible,1.5,642,Books,22-05-2015,₹ 109.00
5215,EZ Genealogy,3.0,937,Books,20-05-2020,₹ 109.00
5216,Concise Oxford Spanish Dictionary,2.5,302,Books,19-03-2015,₹ 549.00
5217,La Bible en Français par Louis Segond (French ...,1.5,141,Books,24-09-2015,₹ 269.00
5218,Disney Infinity Collection Tracker,4.0,885,Books,17-10-2016,₹ 54.00

In [91]:
df[(df['Category'] == 'Developer Tools') & (df['No of people Rated'] >= 500)] #sort by category and greater then canditiondf

,Name,Rating,No of people Rated,Category,Date,Price
1278,Python 3.8,3.5,697,Developer Tools,18-12-2018,Free
1279,Ubuntu 20.04 LTS,4.5,720,Developer Tools,17-04-2020,Free
1280,Windows Terminal,4.0,820,Developer Tools,21-06-2019,Free
1281,Ubuntu,4.5,718,Developer Tools,10-07-2017,Free
1283,Python 3.7,3.5,804,Developer Tools,12-12-2018,Free
...,...,...,...,...,...,...
5315,Visual Studio Image Scaler,1.0,756,Developer Tools,15-05-2017,₹ 54.00
5316,Get Color,3.0,785,Developer Tools,08-08-2019,₹ 54.50
5317,JS King,1.0,720,Developer Tools,19-07-2018,₹ 269.00
5318,MQTTSniffer,2.5,500,Developer Tools,10-04-2017,₹ 64.00
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,18-11-2019,₹ 269.00

In [110]:
df.loc[df['Category']=='Developer Tools','Category']='Developer'

In [112]:
df.colums[4]

AttributeError: 'DataFrame' object has no attribute 'colums'

In [113]:
df[df['Category']=='Developer']

,Name,Rating,No of people Rated,Category,Date,Price
1278,Python 3.8,3.5,697,Developer,18-12-2018,Free
1279,Ubuntu 20.04 LTS,4.5,720,Developer,17-04-2020,Free
1280,Windows Terminal,4.0,820,Developer,21-06-2019,Free
1281,Ubuntu,4.5,718,Developer,10-07-2017,Free
1282,Arduino IDE,4.0,192,Developer,15-09-2016,Free
...,...,...,...,...,...,...
5316,Get Color,3.0,785,Developer,08-08-2019,₹ 54.50
5317,JS King,1.0,720,Developer,19-07-2018,₹ 269.00
5318,MQTTSniffer,2.5,500,Developer,10-04-2017,₹ 64.00
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer,18-11-2019,₹ 269.00
5320,Simply Text,4.0,386,Developer,23-01-2014,₹ 219.00