# Loading Data into Pandas 
** Here Using Pokemon Data Set**

** Link ** https://github.com/sunilkumar9740/pokemon_dataset

Pandas is the most popular machine learning library written in python, for data manipulation and analysis.

In [3]:
import pandas as pd

In [ ]:
#to Read CSV file

df=pd.read_csv('pokemon.csv')
print(df)

#To read Excel file
#df=pd.read_excel('pokemon.xlsx')
#print(df)

#To read text file
#df=pd.read_csv('pokemon.txt',delimiter='\t')
#print(df)

In [5]:
df.head()  # it will display first five raw in the table

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
df.tail() # it will display last five raw in a table

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
df.head(7) # it will display first seven raw in a table *note: depending on number mention inside the ()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False

# Reading Data In Pandas

In [22]:
##Read Header

print(df.columns) # it will display all the columns in the table 
#df.columns

#print(df.columns[2]) # Single specified column(according to indexing)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [17]:
## Read Each Columns
print(df['Name'])
#df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [18]:
##Read multiple columns in table

print(df[['Name','Type 1','Type 2']])

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [23]:
#Read each row
##Single Row

print(df.iloc[4]) #it will display the 4th raw details

#                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
Total                309
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

In [25]:
##Multiple Rows

print(df.iloc[4:8]) #it will display 4rows(4 to 7 th raw) rows in the table( depends on numbers specified in [])

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False

In [29]:
#Read specific location on table by index number 

print(df.iloc[2,1])

Venusaur

In [31]:
#Read Particular Location on Table by specific name 
df.loc[df['Name']=='Charmander']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Sorting/Describing Data

In [80]:
#it will give the mean,count some other information 
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [81]:
#it will display the name ascending order 


df.sort_values('Name')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [82]:
#it will display multiple columns sorting

df.sort_values(['Type 1','HP'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False

# Saving our Data

In [86]:
#To Save CSV file

df.to_csv('modified.scv')

In [88]:
#To Save text File

df.to_csv('modify.txt')

# Filtering Our Data

In [93]:
#Single Columns Filtering 
df.loc[df['Type 1']== 'Grass']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [101]:
#Multi Columns Filtering 

df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [105]:
#Multi Columns Filtering with Greater number 

df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP']>40)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

# Condition Changes

In [109]:
#If  you want to change Rows names

df.loc[df['Type 1']== 'Grass','Type 1']='Fire'
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Fire,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Fire,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Fire,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Fire,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Flames,NaN,309,39,52,43,60,50,65,1,False

In [113]:
#it will change the row values i,e Genereation,Legendry row values ,if the Total is more then 500 

df.loc[df['Total']>500,['Generation','Legendary']]='test'
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Fire,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Fire,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Fire,Poison,525,80,82,83,100,100,80,test,test
3,3,VenusaurMega Venusaur,Fire,Poison,625,80,100,123,122,120,80,test,test
4,4,Charmander,Flames,NaN,309,39,52,43,60,50,65,1,False

# Aggreagte Statistics

In [114]:
#mean values of the Type 1 Columns
df.groupby(['Type 1']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fire,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Flames,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286

In [116]:
#mean values with ascending 
df.groupby(['Type 1']).mean().sort_values('Defense',ascending=False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Fire,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Flames,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020

In [118]:
# Sum

df.groupby(['Type 2']).sum()

              #  Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 2
Bug        1146   1180   160     270      240      140      185    185
Dark       8277   9688  1511    2196     1441     1636     1397   1507
Dragon     8686   9471  1479    1700     1567     1773     1502   1450
Electric   2794   2732   529     436      410      487      441    429
Fairy      8718   9613  1479    1417     1699     1725     1885   1408
Fighting  11393  13672  2066    2934     2145     2113     2142   2272
Fire       5782   6075   855     975      962     1325     1002    956
Flying    32117  43897  6925    7788     6626     7336     6907   8315
Ghost      7724   6030   828    1178     1152     1025     1093    754
Grass     12635  10223  1566    1854     2003     1504     1863   1433
Ground    10766  15552  2703    3145     3161     2294     2336   1913
Ice        6178   7360  1260    1372     1199     1297     1187   1045
Normal     2724   1646   254     211      215      352      257    357
Poison     5779  13481  1998    2298     2025     2517     2377   2266
Psychic   11126  15809  2383    2465     2872     2905     2891   2293
Rock       4869   6085   953    1176     1776      716      960    504
Steel      9584  10675  1422    2037     2302     1710     1898   1306
Water      5600   5855   878     982     1191     1043      961    800

In [119]:
#count
df.groupby(['Type 2']).count()

,#,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 2,,,,,,,,,,,,
Bug,3,3,3,3,3,3,3,3,3,3,3,3
Dark,20,20,20,20,20,20,20,20,20,20,20,20
Dragon,18,18,18,18,18,18,18,18,18,18,18,18
Electric,6,6,6,6,6,6,6,6,6,6,6,6
Fairy,23,23,23,23,23,23,23,23,23,23,23,23
Fighting,26,26,26,26,26,26,26,26,26,26,26,26
Fire,12,12,12,12,12,12,12,12,12,12,12,12
Flying,97,97,97,97,97,97,97,97,97,97,97,97
Ghost,14,14,14,14,14,14,14,14,14,14,14,14
Grass,25,25,25,25,25,25,25,25,25,25,25,25
Ground,35,35,35,35,35,35,35,35,35,35,35,35
Ice,14,14,14,14,14,14,14,14,14,14,14,14
Normal,4,4,4,4,4,4,4,4,4,4,4,4
Poison,34,34,34,34,34,34,34,34,34,34,34,34
Psychic,33,33,33,33,33,33,33,33,33,33,33,33
Rock,14,14,14,14,14,14,14,14,14,14,14,14
Steel,22,22,22,22,22,22,22,22,22,22,22,22
Water,14,14,14,14,14,14,14,14,14,14,14,14